<!DOCTYPE html>
<html lang="pt_BR" xmlns="www.thymeleaf.org">
<head>
    <title>BitBank - Cadastro de Conta</title>
</head>

<body>
    <h1 class="mb-3">Cadastro de conta</h1>

    <form th:action="@{/contas}" method="POST" 
    th:object="${conta}">

        <input type="hidden" th:field="*{id}"/>

        <label for="correntista">Número</label>
        <input type="text" th:field="*{numero}"/> <br/> <br/>

        <label for="correntista">Correntista</label>
        <select th:field="*{correntista}" class="form-select">
            <option th:each="cor : ${correntistaItems}" 
            th:value="${cor.id}" th:text="${cor.nome}"
            th:selected="${cor.id==correntista}" />
        </select> 
        <br/> <br/>

        <!-- <label for="lastName">Data</label>
        <input type="text" th:field="*{data}" /><br/><br/> -->

        <hr>

        <button type="submit">Salvar</button>
        <a th:href="@{/contas/lista}">Cancelar</a>

    </form>
</body>
</html>