<!-- <html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Contas</title>
</head>
<body>

    <h1>Cadastro de Conta</h1> -->

    <!-- <div th:text="${mensagem}" style="color: red"></div> -->
<!--     
    <table border="1">
        <thead>
            <tr>
                <th> Número</th>
                <th> Data</th>
                <th> Transações</th>
                <th> Correntista</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="conta : ${contas}">
                <td th:text="${conta.numero}"></td>
                <td th:text="${conta.data}"></td>
                <td th:text="${conta.transacoes}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html> -->
